name: CI

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: [ubuntu-latest]
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version-file: .tool-versions

      - id: fmt
        run: deno fmt --check
      - id: lint
        run: deno lint
      - id: test
        run: deno test -A

  my_repo_test:
    timeout-minutes: 10
    runs-on: [ubuntu-latest]
    permissions:
      contents: read
    concurrency:
      # my_repo_test too consume API limit, so limit concurrency to 1
      group: my_repo_test
      cancel-in-progress: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version-file: .tool-versions

      - run: deno task my_repo_test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
